@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 400px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 40px);
    }


    .swiper-button-prev
    {
        left: 8px;
    }


    .swiper-button-next
    {
        right: 8px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 28px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 48px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 48px;
    }



    /*----------------
        Top banner
    ----------------*/
    .top_banner
    {
        line-height: 24px;

        padding: 12px 40px;
    }



    /*------------
        Header
    ------------*/
    header > .cont
    {
        height: 68px;
    }


    header .menu a:after,
    header .icons .btn:after
    {
        bottom: -24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 24px;
    }


    .form .line
    {
        margin-bottom: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block table td
    {
        min-width: 164px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .category .name
    {
        font-size: 36px;
    }


    .categories .category .btn
    {
        margin-top: 32px;
    }



    /*--------------
        Products
    --------------*/
    .products .filter
    {
        width: 400px;
    }



    .products .product .stickers
    {
        top: 10px;
        left: 10px;
    }


    .products .product .favorite_btn
    {
        width: 40px;
        height: 40px;
    }


    .products .product .favorite_btn .icon
    {
        width: 20px;
        height: 17px;
    }


    .products .product .articul,
    .products .product .points,
    .products .product .buy_btn
    {
        margin-top: 16px;
    }



    /*---------------------
        Discount banner
    ---------------------*/
    .discount_banner .title
    {
        font-size: 36px;

        margin-bottom: 40px;
    }


    .discount_banner .line
    {
        margin-bottom: 40px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info
    {
        margin-top: 60px;
    }


    .checkout_info .section + .section
    {
        margin-top: 40px;
    }


    .checkout_info .credit_info,
    .checkout_info .promocode,
    .checkout_info .bonuses
    {
        width: 66.666%;
    }



    /*--------------------
        Checkout total
    --------------------*/
    .checkout_total
    {
        padding: 40px;
    }


    .checkout_total .prices .label,
    .checkout_total .total_price .label
    {
        width: 168px;
    }


    .checkout_total .prices .price,
    .checkout_total .total_price .price
    {
        width: calc(100% - 168px);
    }


    .checkout_total .checkout_btn
    {
        height: 48px;
        margin-top: 24px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .order .cart_info .product .info
    {
        width: calc(100% - 850px);
    }


    .lk_info .order .cart_info .titles .price,
    .lk_info .order .cart_info .product .price
    {
        width: 200px;
        min-width: 200px;
    }

    .lk_info .order .cart_info .titles .amount,
    .lk_info .order .cart_info .product .amount
    {
        width: 200px;
        min-width: 200px;
    }

    .lk_info .order .cart_info .titles .price.total,
    .lk_info .order .cart_info .product .price.total
    {
        width: 160px;
        min-width: 160px;
    }



    /*------------------
        Product info
    -----------------*/
    .product_info .images
    {
        width: calc(100% - 588px);
        padding-left: 200px;
    }


    .product_info .images .thumbs
    {
        width: 176px;
    }


    .product_info .images .thumbs .swiper-slide
    {
        height: 240px;
    }


    .product_info .data
    {
        width: 548px;
    }


    .product_info .btns .buy_btn
    {
        max-width: calc(100% - 60px);
        height: 48px;
    }


    .product_info .btns .favorite_btn
    {
        width: 48px;
        height: 48px;
    }



    /*------------
        Footer
    ------------*/
    footer .row + .row
    {
        margin-top: 40px;
    }
}
