@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 100%;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 24px;

        gap: 24px;
    }


    .block
    {
        margin-bottom: 60px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 40px;
    }



    /*----------------
        Top banner
    ----------------*/
    .top_banner
    {
        font-size: 12px;
        line-height: 20px;
    }



    /*------------
        Header
    ------------*/
    header > .cont
    {
        height: 60px;
    }


    header .logo img
    {
        width: 116px;
    }


    header .menu
    {
        gap: 24px;
    }


    header .menu a:after,
    header .icons .btn:after
    {
        bottom: -20px;
    }


    header .sub_menu .items .col
    {
        width: 180px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-top: 40px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-top: 20px;
    }


    .page_title
    {
        margin-top: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 60px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of6
    {
        width: calc(25% - var(--form_columns_offset));
    }

    .form .columns > *.width2of6
    {
        width: calc(50% - var(--form_columns_offset));
    }


    .form .gender
    {
        margin-top: 24px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block blockquote
    {
        max-width: 100%;
        margin-left: 0;
        padding: 16px 0 16px 39px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .category .info
    {
        opacity: 1;
    }


    .categories .category .name
    {
        font-size: 28px;
    }


    .categories .category .btn
    {
        width: 148px;
        padding: 7px;
    }



    /*---------------------
        Discount banner
    ---------------------*/
    .discount_banner .title
    {
        font-size: 28px;
    }


    .discount_banner .socials
    {
        font-size: 16px;
        line-height: 20px;

        gap: 24px;
    }



    /*------------------
        LK - Bonuses
    ------------------*/
    .lk_info .bonuses .val
    {
        font-size: 26px;
    }



    .lk_info .bonuses_history .code
    {
        width: 60px;
        min-width: 60px;
    }

    .lk_info .bonuses_history .date
    {
        width: 148px;
        min-width: 148px;
    }

    .lk_info .bonuses_history .points
    {
        width: 132px;
        min-width: 132px;
    }

    .lk_info .bonuses_history .points_before
    {
        width: 92px;
        min-width: 92px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .cont
    {
        min-height: 480px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .socials
    {
        gap: 48px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product .close_btn
    {
        top: 24px;
    }



    /*------------------
        Product info
    -----------------*/
    .product_info .images
    {
        width: 100%;
        margin-bottom: 40px;
        padding-left: 200px;
    }


    .product_info .images .thumbs
    {
        width: 176px;
    }


    .product_info .images .thumbs .swiper-slide
    {
        height: 240px;
    }


    .product_info .data
    {
        width: 100%;
    }



    /*--------------
        Products
    --------------*/
    .products .head
    {
        margin-bottom: 24px;
    }


    .products .filter_btn
    {
        height: auto;
    }


    .products .head .selected_filters
    {
        display: grid;
        overflow: auto;
        order: 2;

        width: calc(100% + 48px);
        margin: 0 -24px;
        margin-top: 16px;
        padding: 0 24px;

        grid-auto-flow: column;
        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .products .head .selected_filters::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .products .head .selected_filters::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .products .head .selected_filters .btn
    {
        flex-wrap: nowrap;

        text-align: left;
        white-space: nowrap;

        color: #fff;
        border-color: #000;
        background: #000;

        gap: 8px;
        scroll-snap-align: start;
    }


    .products .head .selected_filters .btn .icon
    {
        color: #000;
        background: #fff;
    }


    .products .head .sort,
    .products .head .limit
    {
        height: auto;
    }


    .products .row > *
    {
        width: calc(33.333% - 5px);
    }


    .products .product .swiper-horizontal > .swiper-pagination-bullets,
    .products .product .swiper-pagination-bullets.swiper-pagination-horizontal,
    .products .product .swiper-pagination-custom,
    .products .product .swiper-pagination-fraction
    {
        display: none;
    }


    .products .product .info
    {
        padding: 20px 20px 0;
    }



    /*------------
        Footer
    ------------*/
    footer .rating
    {
        padding-top: 8px;
    }



    /*-----------
        PopUp
    -----------*/
    #gift_modal .product
    {
        width: 100%;
    }


    #gift_modal .form
    {
        width: 100%;
        margin-top: 40px;
    }
}
