@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 22px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 20px;

        gap: 16px;
    }


    .cont
    {
        padding: 0 20px;
    }


    .block.mob_no_m
    {
        margin-bottom: 0;
    }

    .block.mob_m
    {
        margin-bottom: 40px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*------------
        Header
    ------------*/
    header.mob_absolute
    {
        position: absolute;

        color: #fff;
        border: none;
        background: none;
    }

    .mob_top_banner + header.mob_absolute
    {
        top: 37px;
    }

    .mob_top_banner.hide + header.mob_absolute
    {
        top: 0;

        transition: top .3s linear;
    }


    header .cont
    {
        height: 48px;
    }


    header.mob_absolute .logo img
    {
        display: none;
    }

    header.mob_absolute .logo img + img
    {
        display: block;
    }


    header .currencies > .btn
    {
        gap: 6px;
    }


    header .icons
    {
        margin-left: 0;

        gap: 16px;
    }


    header .icons .btn:after
    {
        bottom: -14px;
    }


    header .search .mini_modal
    {
        right: 0;

        width: 100%;
        padding: 0 20px;

        color: var(--text_color);
    }


    header .search .close_btn
    {
        right: 9px;
    }


    header .currencies .mini_modal
    {
        right: auto;
        left: 50%;

        width: 40px;
        margin-top: 8px;

        transform: translateX(-50%);
    }


    header .currencies .mini_modal .btn
    {
        height: 40px;
    }


    header .currencies > .btn img,
    header .currencies .mini_modal .btn img
    {
        transform: scale(.9);
    }



    .lock header.mob_absolute,
    header.mob_absolute.is_stuck
    {
        color: #000;
        background: #fff;
    }

    .lock header.mob_absolute .logo img,
    header.mob_absolute.is_stuck .logo img
    {
        display: block;
    }

    .lock header.mob_absolute .logo img + img,
    header.mob_absolute.is_stuck .logo img + img
    {
        display: none;
    }


    header.mob_absolute:not(.is_stuck) .currencies > .btn img
    {
        filter: invert(100%);
    }


    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3,
    .form .columns > *.width1of6
    {
        width: calc(100% - var(--form_columns_offset));
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 19px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.mob_m
    {
        margin-bottom: 40px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .image:after
    {
        opacity: 1;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .row
    {
        gap: 0;
    }


    .categories .category .name
    {
        font-size: 34px;
        font-weight: 200;
    }


    .categories .category .btn
    {
        display: none;
    }


    .categories .category img
    {
        width: 100%;
        height: calc(100vh - 48px);
        margin: 0;

        object-fit: cover;
    }



    /*---------------------
        Discount banner
    ---------------------*/
    .discount_banner
    {
        flex-direction: column;
        justify-content: flex-start;

        height: auto;
        padding: 0;
    }


    .discount_banner .cont
    {
        display: flex;
        flex-direction: column;

        height: calc(100vh - 48px);
        padding-top: 16%;
        padding-bottom: 16%;
    }


    .discount_banner .cont.justify .title
    {
        margin-top: auto;
    }


    .discount_banner .cont.justify .socials
    {
        margin-bottom: auto;
    }


    .discount_banner .title
    {
        font-size: 20px;
        line-height: 30px;

        margin-bottom: 56px;
    }


    .discount_banner .line
    {
        margin-bottom: 56px;
    }


    .discount_banner .socials
    {
        font-size: 16px;
        line-height: 20px;
    }


    .discount_banner .socials .row
    {
        gap: 36px;
    }


    .discount_banner .bg
    {
        display: none;
    }

    .discount_banner .mob_bg
    {
        display: block;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .row
    {
        display: block;
    }


    .contacts_info .locations,
    .contacts_info .email
    {
        margin-top: 4px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product .thumb
    {
        width: 100px;
        height: 140px;
    }


    .cart_info .product .thumb + *
    {
        width: calc(100% - 120px);
    }


    .cart_info .product .name
    {
        min-height: 54px;
    }


    .cart_info .product .row
    {
        align-content: flex-start;
        align-items: flex-start;

        margin-top: 10px;
        margin-left: -120px;
    }


    .cart_info .product .price,
    .cart_info .product .price.total
    {
        order: 3;

        margin-top: 16px;
    }


    .cart_info .product .price.total
    {
        width: auto;
        margin-left: auto;

        text-align: right;
    }


    .cart_info .product .points
    {
        font-size: 12px;

        justify-content: flex-end;

        margin-top: 0;
    }


    .cart_info .product .points .icon
    {
        width: 26px;
        height: 15px;
    }


    .cart_info .product .amount
    {
        width: calc(100% - 120px);
        margin-left: 120px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .credit_info .row > *
    {
        width: calc(50% + 1px);
    }


    .checkout_info .promocode .field,
    .checkout_info .bonuses .field
    {
        width: calc(100% - 148px);
    }


    .checkout_info .promocode .btn,
    .checkout_info .bonuses .btn
    {
        width: 124px;
    }



    /*--------------------
        Checkout total
    --------------------*/
    .checkout_total
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }


    .checkout_total .prices .label,
    .checkout_total .total_price .label
    {
        width: 160px;
    }

    .checkout_total .prices .price,
    .checkout_total .total_price .price
    {
        width: calc(100% - 160px);
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .order .head
    {
        padding: 8px 20px 8px 12px;
    }


    .lk_info .order .head .number
    {
        width: 52px;
    }



    /*--------------
        Products
    --------------*/
    .products .product .points,
    .products .product .buy_btn
    {
        margin-top: 8px;
    }



    /*------------------------
        Cart added success
    ------------------------*/
    .cart_added_success
    {
        right: 0;

        max-width: 100vw;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        position: relative;

        padding: 40px 0;
    }


    footer .row
    {
        justify-content: space-between;

        margin-left: -20px;
    }

    footer .row + .row
    {
        margin-top: 30px;
    }


    footer .row > *
    {
        width: auto;
        min-width: 120px;
        margin-left: 20px;
    }


    footer .row > *.mob_big
    {
        width: calc(100% - 20px);
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid #ededed;
    }


    footer .row > *.copyright,
    footer .row > *.privacy_policy_link,
    footer .row > *.creator
    {
        width: calc(100% - 20px);

        text-align: left;
    }


    footer .title
    {
        margin: 0;

        cursor: pointer;
        pointer-events: auto;
    }


    footer .title .arr
    {
        display: block;
    }


    footer .links
    {
        display: none;

        padding-top: 10px;
    }


    footer .links > * + *
    {
        margin-top: 10px;
    }


    footer .copyright br
    {
        display: block;
    }


    footer .row > *.privacy_policy_link,
    footer .row > *.creator
    {
        margin-top: 12px;
    }


    footer .socials
    {
        position: absolute;
        right: 20px;
        bottom: 177px;

        width: 120px;
        margin: 0;

        gap: 20px;
    }


    footer .socials .icon
    {
        width: 18px;
        height: 18px;
    }

    footer .socials .tg_link .icon
    {
        width: 21px;
    }

    footer .socials .vk_link .icon
    {
        width: 24px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px 24px;
    }


    .modal .bottom
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 20px 24px;
    }



    #gift_modal .product
    {
        padding: 9px;
    }
}
